<form class="normal-form">
  <div class="controles-container">
    <mat-form-field>
      <mat-label>Number</mat-label>
      <input matInput value="{{this.number}}" disabled [(ngModel)]="data.number" name="warehouseNumber">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Warehouse</mat-label>
      <input matInput #warehouseName [(ngModel)]="data.name" name="warehouseName">
    </mat-form-field>
  </div>

  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="data">Save</button>
    <button mat-raised-button color="warn" (click)="onClose()">Cancel</button>
  </div>
</form>
