<!-- <header class="main-header"> -->
<!-- <h1 class="main-title"><a [routerLink]="['/']">Study project</a></h1> -->
<!-- <nav class="menu">
    <ul class="main-menu">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['#']">Work</a></li>
      <li><a [routerLink]="['#']">Documents<i> &#9660;</i></a>
        <ul class="documents">
          <li><a [routerLink]="['/incoming']">Incoming</a></li>
          <li><a [routerLink]="['/consumption']">Consumption</a></li>
        </ul>
      </li>

    </ul>
  </nav> -->

<!-- </header> -->
<!-- <div class="container">
  <router-outlet></router-outlet>

</div> -->
<app-main-nav>

  <div class="container">
    <router-outlet></router-outlet>

  </div>
</app-main-nav>
