.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}



.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  padding: 5px;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar .nav-item {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.mat-icon-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}

.active {
  color: #ff4081;
}
