<div class="board">
  <h2 class="board-title" color="primary">Choose what you want</h2>
  <div class="board-body">
    <div class="card">
      <h3 class="card-title">Incoming</h3>
      <a [routerLink]="['/incoming']" routerLinkActive="active" [attr.tabindex]="-1">go now</a>
    </div>
    <div class="card">
      <h3 class="card-title">Consumption</h3>
      <a [routerLink]="['/consumption']" routerLinkActive="active" [attr.tabindex]="-1">go now</a>
    </div>
    <div class="card">
      <h3 class="card-title">Nomenclature</h3>
      <a [routerLink]="['/nomenclature']" routerLinkActive="active" [attr.tabindex]="-1">go now</a>
    </div>
    <div class="card">
      <h3 class="card-title">Warehouse</h3>
      <a [routerLink]="['/warehouse']" routerLinkActive="active" [attr.tabindex]="-1">go now</a>
    </div>
  </div>


</div>
