.full-width-table {
  width: 100%;
}

.nomenclature-table {
  width: 80%;
  margin: 20px auto;
}

.mat-focus-indicator {
  transition: background-color 1s;
}

.mat-form-field {
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, .2);
}

.icon-create {
  margin-right: 3px;
  margin-bottom: 4px;
}
